.sidebar {
    background-color: #3e454c;
    color: #fff;
    position: fixed;
    height: 100%;
    z-index: 5;
}

.l-container {
    background-color: #ecf0f1;
    color: #95a5a6;
    position: fixed;
    height: 100%;
    overflow-y: auto;
}