.alert {
    margin: 20px 0px;
    padding: 10px 30px 10px 10px;
    position: relative;
    border-radius: 2px;

    a {
        color: inherit;
        position: absolute;
        top: 8px;
        right: 10px;
        text-align: center;
        @include transition;

        &:hover {
            text-decoration: none;
            cursor: pointer;
        }
    }
}

.alert-success {
    color: $green;
    border: 1px solid $green;
    background-color: lighten($green, 50);

    a {
        display: inline-block;
        height: 25px;
        width: 25px;
        border-radius: 25px;
        background-color: $green;
        color: lighten($green, 50);

        &:hover {
            background-color: darken($green, 10);
        }
    }
}

.alert-danger {
    color: $red;
    border: 1px solid $red;
    background-color: lighten($red, 28);

    a {
        display: inline-block;
        height: 25px;
        width: 25px;
        border-radius: 25px;
        background-color: $red;
        color: lighten($red, 50);

        &:hover {
            background-color: darken($red, 10);
        }
    }
}


.alert-info {
    color: $blue;
    border: 1px solid $blue;
    background-color: lighten($blue, 20);

    a {
        display: inline-block;
        height: 25px;
        width: 25px;
        border-radius: 25px;
        background-color: $blue;
        color: lighten($blue, 50);

        &:hover {
            background-color: darken($blue, 10);
        }
    }
}