/* form starting stylings ------------------------------- */
.group            {
  position:relative;
  margin-bottom:45px;
}

.input {
  font-size:14px;
  padding:10px 10px 10px 5px;
  display:block;
  width:300px;
  border:none;
  border-bottom:1px solid $default-text-color;
  background-color: transparent!important;
}

.input:focus         { outline:none; border-bottom:1px solid $blue; color: $blue;}

/* LABEL ======================================= */
label                {
  color:#999;
  font-size:14px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
.input:focus ~ label, input:valid ~ label        {
  top:-20px;
  font-size:14px;
  color: $blue;
}

/* BOTTOM BARS ================================= */
.bar    { position:relative; display:block; width:300px; }
.bar:before, .bar:after     {
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background: $blue;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
.input:focus ~ .bar:before, .input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from { background: $blue; }
  to    { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background: $blue; }
  to    { width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background: $blue; }
  to    { width:0; background:transparent; }
}


.select {
  height: 30px;
  line-height: 30px;
  width: 300px;
  padding: 0 10px;
  border: 1px solid $default-text-color;
  outline: none;
  color: $secondary-text-color;

  &:focus,
  &:active {
    border: 1px solid $blue;
  }
}


.file-container {

  height: 238px;
  width: 188px;
  background: url('img/file.png') center top no-repeat;
  position: relative;
  border: 4px solid transparent;
  cursor: pointer;

  @include transition;

  &:hover {
    border: 4px solid $blue;
    cursor: pointer;
  }

  input {
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display:inline-block;
    height: 238px;
    width: 188px;
    cursor: pointer;
  }
}

#file-message {
  text-align: center;
}